
// gtk gjs css base
.bar {
}

.bar-background {

}

.bar-layout-normal {
    //min-height: 2.5rem;
    padding: 0.5rem;
    padding-bottom: 0.1px;
}

.bar-group {
    background-color: $layer0;
    color: $onLayer0;
    @include normal-rounding;
    border: 1px solid $layer2Active;
    hover { border-color: $foreground };
}

.bar-group:hover {
    border-color: $foreground;
}

.bar-box {
    padding: 0.125rem 3rem;
}

.bar-island {
    margin-top: 0.125rem;
    @include normal-rounding;
}


// --------- left

.bar-left {
}

.bar-left-group {
}

.bar-left-title {
}

.bar-window-title-class {
    margin-top: -0.1rem;
    margin-bottom: -0.5rem;
}

.bar-window-title-title {
    margin-top: 0;
}
// --------- right
.bar-right {
}

.bar-right-group {
}

.bar-right-dateclock {
}

.bar-right-opener-eventbox {
    
}

.bar-right-opener-eventbox > box {
    padding: 0 1rem;
    @include normal-rounding;
}

.bar-right-opener-eventbox:hover > box {
    background-color: $layer1Hover;
}

.bar-right-opener-eventbox label {
}

// --------- workspaces

.bar-workspaces {
}

.bar-workspaces-container {
    //background-color: $layer1;
    @include large-rounding;
    margin: 0.25rem 0.25rem;
    padding: 0.125rem;
}

// base workspace styling
.bar-workspaces-workspace {
    // make square
    min-width: 1.8rem;
    min-height: 1.8rem;
    padding: 0.125rem;
}

.bar-workspaces-workspace > label {
    // make square
    min-width: 1.6rem;
    min-height: 1.6rem;
    // make circle
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

// unused workspace styling
.bar-workspaces-workspace-inactive {}

.bar-workspaces-workspace-in-use {
    @include large-rounding;
    background-color: $layer1;
    color: $onLayer1;
}

.bar-workspaces-workspace-in-use-alt-monitor > label {
    background-color: $layer2;
    color: $onLayer2;
}

// active workspace styling
.bar-workspaces-workspace-active > label {
    background-color: $primary;
    color: $onPrimary;
}

//background
.bar-workspaces-workspace-background {
    color: $onLayer1;
}
// background-start workspace styling
.bar-workspaces-workspace-background-start {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
// background-middle workspace styling
.bar-workspaces-workspace-background-middle {
    border-radius: 0;
}
// background-end workspace styling
.bar-workspaces-workspace-background-end {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
// background-only workspace styling
.bar-workspaces-workspace-background-only {
}

// --------- corners
.corner-black {
    background-color: $black;
    @include large-rounding;
}

.bar-corner {
    background-color: $layer0;
    @include large-rounding;
}
