// credit to end-4 dots
$rootTransparency: 0.31; // Transparency = 1 - opacity
$transparency: 0.75;

// Others
//$subtext: $outline;
$actiontext: mix($onBackground, $background, 85%);
$black: black;
$white: white;

/// Color mappings for more chaotic, dynamic colors like the average rice ///
// General
/*
$layer0: $background;
$onLayer0: $onBackground;
$layer0Hover: mix($layer0, $onLayer0, 85%);
$layer0Active: $surfaceContainerHigh;
$onLayer0Active: $onSurface;
$onLayer0Inactive: mix($onLayer0, $layer0, 70%);
$layer1: $surfaceContainerLowest;
$onLayer1: $onSurface;
$onLayer1Inactive: mix($onLayer1, $layer1, 45%);
$onLayer1: $onSurfaceVariant;
$layer2: mix($surfaceContainer, $surfaceContainerHigh, 55%);
$onLayer2: $onSurface;
$layer3: $surfaceContainerHigh;
$onLayer3: $onSurface;
$layer1Hover: mix($layer1, $onLayer1, 85%);
$layer1Active: mix($layer1, $onLayer1, 70%);
$layer2Hover: mix($layer2, $onLayer2, 90%);
$layer2Active: mix($layer2, $onLayer2, 80%);
$layer3Hover: mix($layer3, $onLayer3, 90%);
$layer3Active: mix($layer3, $onLayer3, 80%);
*/

$background: #282828;
$foreground: #ebdbb2;
$primary: #689d6a;
$secondary: #b16286;

$darkmode: True;
$transparent: False;
$background: $background;
$onBackground: $foreground;

$onPrimary: lighten($onBackground, 10%);
$onSecondary: $onBackground;

$outline: $onBackground;

$layer0: mix($background, $foreground, 100%);
$onLayer0: mix($onBackground, $foreground, 100%);
$layer0Hover: mix($layer0, $onLayer0, 85%);
$layer0Active: mix($layer0, $onLayer0, 70%);
$layer1: mix($background, $foreground, 90%);
$onLayer1: mix($onBackground, $foreground, 90%);
$layer1Hover: mix($layer1, $onLayer1, 85%);
$layer1Active: mix($layer1, $onLayer1, 70%);
$layer2: mix($background, $foreground, 80%);
$onLayer2: mix($onBackground, $foreground, 80%);
$layer2Hover: mix($layer2, $onLayer2, 85%);
$layer2Active: mix($layer2, $onLayer2, 70%);
$layer3: mix($background, $foreground, 70%);
$onLayer3: mix($onBackground, $foreground, 70%);
$layer3Hover: mix($layer3, $onLayer3, 85%);
$layer3Active: mix($layer3, $onLayer3, 70%);
$error: #FFB4AB;
