
.txt {
    @include fonts;
}

.txt-small {
	@include fonts;
	font-size: 0.8rem;
}

.txt-medium {
	@include fonts;
	font-size: 1.2rem;
}

.txt-large {
	@include fonts;
	font-size: 1.6rem;
}

.txt-huge {
	@include fonts;
	font-size: 2.0rem;
}

.icon-material {
    @include icon-material;
}
