
.txt {
    @include fonts;
}

.txt-small {
	@include fonts;
	font-size: 0.6rem;
}

.txt-medium {
	@include fonts;
	font-size: 1rem;
}

.txt-large {
	@include fonts;
	font-size: 1.4rem;
}

.txt-huge {
	@include fonts;
	font-size: 1.8rem;
}

.icon-material {
    @include icon-material;
}
