$rounding_small: 0.15rem;
$rounding_medium: 0.3rem;
$rounding_large: 0.6rem;

@mixin small-rounding {
    border-radius: $rounding_small;
}

@mixin normal-rounding {
    border-radius: $rounding_medium;
}

@mixin large-rounding {
    border-radius: $rounding_large;
}

@mixin full-rounding {
    border-radius: 50%;
}

@mixin fonts {
    font-family: 'SpaceMono Nerd Font', monospace;
}

@mixin icon-material {
    font-family: 'Material Symbols Rounded';
}
