.notification-box {
    @include large-rounding;
}

.notification {
    min-width: 35rem;
    padding: 1rem;
    margin: 0.25rem;
    background-color: $layer1;
    color: $onLayer1;
    @include large-rounding;
}

.notification-icon {
    @include normal-rounding;
    background-color: $layer2;
    color: $onLayer2;
    min-width: 3.5rem;
    min-height: 3.5rem;
    font-size: 2rem;
}

.notification-icon-image {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.notification-text {
    margin-left: 1rem;
}

.notification-body {
    color: $outline;
}

.notification-expand-button {
    margin-left: 0.5rem;
    @include normal-rounding;
    min-width: 2rem;
    min-height: 2rem;
}

.notification-expand-button:hover {
	background-color: $layer2;
	color: $onLayer2;
}

notification-body-box{
    margin: 0.5rem;
    padding: 0.5rem;
}

.notifications-clear-button {
    @include large-rounding;
    min-width: 2rem;
    min-height: 2rem;
    padding: 0.5rem 0;
    margin: 0.5rem;
    margin-left: 0.5rem;
    background-color: $layer1;
    color: $onLayer1;
}

.notifications-clear-button:hover {
	background-color: $layer2;
	color: $onLayer2;
}

.notification-action {
    @include small-rounding;
    min-width: 2rem;
    min-height: 2rem;
    margin: 0.125rem 0;
    background-color: $layer2;
    color: $onLayer2;
}

.notification-action:hover {
	background-color: $layer2Hover;
	color: $onLayer2;
}
