
.sidebar {
    background-color: $layer0;
    color: $onLayer0;
    @include large-rounding;
    margin: 0.5rem;
    padding: 0.5rem;
}

.sidebar .sidebar-section {
    background-color: $layer1;
    color: $onLayer1;
    @include large-rounding;
    margin: 0.5rem;
    padding: 0.5rem;
}

.sidebar .sidebar-section > box {
    margin: 0.5rem;
    padding: 0.5rem;
    @include large-rounding;
}

// ----------------- right sidebar

.sidebar-right {
}

// ------ quick settings
.sidebar .quick-settings {
}

.sidebar .quick-setting-toggle-button {
    margin: 0.5rem;
    padding: 0.5rem;
    min-width: 2rem;
    min-height: 2rem;
    @include full-rounding;
    background-color: $layer2;
    color: $onLayer2;
}

.sidebar .quick-setting-toggle-button:hover {
    background-color: $layer2Hover;
    color: $onLayer2;
}

.sidebar .quick-setting-toggle-button.active {
    background-color: $layer2Active;
    color: $onLayer2;
}

// ------ control panel
.sidebar .control-panel {
    padding: 0;
}

.sidebar .control-panel .icon-material {
    color: $onLayer2;
}

.sidebar .control-panel button {
    padding: 0.5rem;
    @include normal-rounding;
}

.sidebar .control-panel button:hover {
    background-color: $layer2Hover;
}

.volume-slider {
    margin-left: 0.5rem;
    trough {
	background-color: $layer3;
	min-height: 1.2rem;
	@include large-rounding;
    }
    highlight {
	background-color: $primary;
	@include large-rounding;
    }
    slider {
	background-color: $primary;
	@include large-rounding;
    }
}

// ------ notifications
.sidebar .notifications-stack {
}

.sidebar-notifications-scroll {
    //min-height: 20rem;
}

.menu{
    background-color: $layer0;
    color: $onLayer0;
    @include large-rounding;
    padding: 0.5rem;
    margin: 0.5rem;
}

.menu-item {
    @include large-rounding;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.menu-item:hover {
    background-color: $layer1;
    color: $onLayer1;
}

.menu-item:last-child {
	margin-bottom: 0;
}
