/*
example color scheme
// Special
$background: #18191c;
$foreground: #c5c5c6;
$cursor: #c5c5c6;

// Colors, 0-15 correspond to the colors in the terminal
$color0: #18191c; // black
$color1: #254e67; // red
$color2: #6d3f55; // green
$color3: #2e7184; // yellow
$color4: #72707f; // blue
$color5: #41c5d4; // magenta
$color6: #7ee1e6; // cyan
$color7: #c5c5c6;// white
$color8: #515254;// bright black
$color9: #254e67; // bright red
$color10: #6d3f55; // bright green
$color11: #2e7184; // bright yellow
$color12: #72707f; // bright blue
$color13: #41c5d4; // bright magenta
$color14: #7ee1e6; // bright cyan
$color15: #c5c5c6; // bright white

primary is color
*/

// convert these colors to material colors using the $ variables
$darkmode: True;
$transparent: False;
$background: $background;
$onBackground: $foreground;

$primary: $color1;
$onPrimary: lighten($onBackground, 10%);
$secondary: $color2;
$onSecondary: $onBackground;

$outline: $onBackground;

$layer0: mix($background, $primary, 90%);
$onLayer0: mix($onBackground, $primary, 90%);
$layer0Hover: mix($layer0, $onLayer0, 85%);
$layer0Active: mix($layer0, $onLayer0, 70%);
$layer1: mix($background, $primary, 80%);
$onLayer1: mix($onBackground, $primary, 80%);
$layer1Hover: mix($layer1, $onLayer1, 85%);
$layer1Active: mix($layer1, $onLayer1, 70%);
$layer2: mix($background, $primary, 70%);
$onLayer2: mix($onBackground, $primary, 70%);
$layer2Hover: mix($layer2, $onLayer2, 85%);
$layer2Active: mix($layer2, $onLayer2, 70%);
$layer3: mix($background, $primary, 60%);
$onLayer3: mix($onBackground, $primary, 60%);
$layer3Hover: mix($layer3, $onLayer3, 85%);
$layer3Active: mix($layer3, $onLayer3, 70%);

