format = '''$directory $git_branch $git_status
$username @ $hostname $character'''


add_newline = false

[git_status]
conflicted = "x"
ahead = ">"
behind = "<"
diverged = "><"
untracked = "?â€"
stashed = "[]"
modified = "v"
staged = '[++\($count\)](green)'
renamed = "R"
deleted = "D"



[directory]
style = ""
format = "[$path]($style)"

[username]
style_user = "bold cyan"
style_root = "bold"
format = "[$user]($style)"
show_always = true

[hostname]
ssh_only = false
format = "[$hostname](bold)"

[character]
success_symbol = "[>](bold green)"
error_symbol = "[>](bold red)"

[git_branch]
symbol = "on"
format = "$symbol [$branch](purple)"