[Desktop Entry]
Name=SteamVR
Comment=Play this game on Steam
Exec=steam steam://rungameid/250820
Icon=steam_icon_250820
Terminal=false
Type=Application
Categories=Game;
