[Desktop Entry]
Name=VRChat
Comment=Play this game on Steam
Exec=steam steam://rungameid/438100
Icon=steam_icon_438100
Terminal=false
Type=Application
Categories=Game;
