/**
* @name yari's system24
* @description a rework of the system24 theme, designed to be more efficient
* @author yari :3, (refact0r, Sophed)
* @version 1.0.0
*/
/* NOTE: SECTION: ------------------------------------------ general */
/* NOTE: SUBSECTION: ------------ guilds & channels */
/* NOTE: collapse */

@container (width < 20px) {
	&{
		padding: 100px;
	};
	.tree_fea3ef {
		--hack: 1 !important;
	}
}

@media (max-width: 1280px) {

	.sidebar_a4d4d9,
	.guilds_a4d4d9 {
		--transition: width var(--trans-dur) ease-in-out;
		content-visibility: auto;
		will-change: width;
		position: fixed;
		z-index: 101;
		min-height: calc(var(--element-height-min) - var(--pad));
		height: auto;
		max-height: calc(var(--element-height-min) - var(--pad)*2);
		box-sizing: border-box;
		overflow: hidden;
		padding-left: var(--pad);
		width: calc(var(--element-width) + var(--pad));
		background-color: transparent;
		transition: var(--transition);

		&:not(:is(:hover, :focus-within)) {
			transition: var(--transition), max-height 0ms ease-in-out var(--trans-dur);
			width: 0px;
		}

		&:is(:hover, :focus-within) {
			max-height: calc(var(--element-height) - var(--pad)*2);
		}
	}

	/* continue showing guild list when context menu exists. */
	/* this one, and the one before it, don't rly have a way in pure CSS to avoid opening user-context from right clickign a name in chat.
* you would need js. */
	:root:has(#guild-context),
	:root:not(:has(.privateChannels_f0963d)):has(#user-context) {
		& .guilds_a4d4d9 {
				--test: var(--hack);
				width: calc(var(--hack)px * (var(--element-width) + var(--pad)));
				max-height: calc(var(--element-height) - var(--pad)*2);
				transition: var(--transition);
		}

		& .chat_a7d72e::before,
		& .container_c2739c::before {
			--guilds-unread-content: none;
		}
	}

	:root:has(#channel-context, #guild-header-popout),
	:root:has(.privateChannels_f0963d):has(#user-context) {
		& .sidebar_a4d4d9 {
			width: calc(var(--element-width) + var(--pad));
			max-height: calc(var(--element-height) - var(--pad)*2);
			transition: var(--transition);
		}

		& .chat_a7d72e::after,
		& .container_c2739c::after {
			--guilds-unread-content: none;
		}
	}

	/* NOTE: channels */
	.sidebar_a4d4d9 {
		--element-width: calc(240px + 2*var(--border-width));
		bottom: var(--pad);
		left: 0;
		margin-left: 0;
	}

	/* NOTE: guilds */
	.guilds_a4d4d9 {
		--element-width: calc(72px + 2*var(--border-width));
		top: var(--pad);
		left: 0;
		margin-bottom: 0;
		background-color: transparent;
	}

	/* NOTE: add bg to guilds list */
	.tree_fea3ef {
		top: 0;
		box-sizing: border-box;
		background-color: var(--background-primary);
		min-height: 100%;
	}

	.toolbar_fc4f04 {
		position: static;
		right: 0;
		will-change: width;
		overflow: hidden;
		padding-left: var(--pad);
		max-width: 100%;
		transition: max-width var(--trans-dur) ease-in-out;

		&:not(:is(:hover, :focus-within)) {
			max-width: var(--pad);
		}
	}

	:root:has(#popout_3370) {
		& .toolbar_fc4f04 {
			max-width: 100%;
		}
	}

	/* fix right-click menu showing under guilds */
	#guild_context {
		z-index: 102;
	}

	/* add indication of notifications when sidebar collapsed */
	:root {
		--channels-unread-content: none;
		--guilds-unread-content: none;

		&:has(.numberBadge_df8943):has(.guilds_a4d4d9:not(:hover)) {
			--guilds-unread-content: '!';
		}

		&:has(.mentionsBadge_e2a798):has(.sidebar_a4d4d9:not(:hover)) {
			--channels-unread-content: '!';
		}
	}


	.chat_a7d72e,
	.container_c2739c {

		&::before,
		&::after {
			content: var(--guilds-unread-content);
			position: fixed;
			top: var(--pad);
			left: 0;
			width: var(--pad);
			height: var(--pad);
			background-color: var(--text-danger);
			display: flex;
			justify-content: center;
			padding: 0;
		}

		&::after {
			content: var(--channels-unread-content);
			top: 50%;
		}
	}

}
