/* type box 4 chat, disabled because i cant get animations 2 play nice */
/* .form_a7d72e { */
/*   transition-delay: 0s; */
/*   box-sizing: border-box; */
/*   width: 100% !important;  */
/*   &:not(:is(:focus-within, :hover)) { */
/* 	  max-height: 1px!important; */
/* 	  padding-left: initial!important; */
/* 	  padding-top: 10px; */
/* 	  margin-top: -10px; */
/* 	  &[class^='form_'] > [class^='typing_'] { */
/* 		border-bottom: 0px !important; */
/* 	  } */
/* 	  & ::after { */
/* 		display: none !important; */
/* 	  } */
/* 	} */
/* } */


[class^='form_'] > [class^='typing_'] {
	right: 16px !important;
	left: 16px !important;
	width: fit-content;
	max-width: calc(100% - 32px);
	border-left: none !important;
	border-right: none !important;
}

/* self explanatory */
[aria-label="Servers sidebar"] {
  position: fixed !important;
  z-index: 1000 !important;
  transition: width 0.125s ease-in-out !important;
  top:0 !important;
  max-height: calc(100% - var(--pad)*2) !important;
  transition-delay: 0s;
  min-height: 50% !important;
  margin-left: var(--pad) !important;
  margin-top: var(--pad) !important;
  &:hover {
		&::before {
	  content: '';
		position: absolute;
		top:0;
		bottom:0;
		left: calc(0px - var(--pad));
	  width: var(--pad);
		};
  &::after {
			z-index: 1001 !important;
			background-color: var(--background-primary);
		};
  & > :hover {
  		overflow: scroll;
		scrollbar-width: none;
	};
	};
  &:not(:hover) {
	top: 0;
	bottom: 50%;
    background-color: transparent !important;
    margin: 0px !important;
    border: none;
    width: 0px!important;
  	&::after {
		content: '';
		position:absolute;
		top:0;
		bottom:0;
		left: 0;
		background-color: transparent;
		width: var(--pad);
	};
  };
}

/* channel list & user box */
.sidebar_a4d4d9 {
  position: fixed !important;
  z-index: 1000 !important;
  transition: width 0.125s ease-in-out;
  top:0 !important;
  max-height: calc(100% - var(--pad)*2) !important;
  background-color: var(--background-primary);
  transition-delay: 0s;
  margin-left: var(--pad) !important;
  margin-top: var(--pad) !important;
  &:hover::before { /* to stop it from constantly closing/reoppening cause of maring */
	  content: '';
		position: absolute;
		top:0;
		bottom:0;
		left: calc(0px - var(--pad));
	  width: var(--pad);
	};
  &:not(:hover) {
	top: 50% !important;
	bottom: 0;
    background-color: transparent !important;
    margin: 0px !important;
    border: none;
    width: 0px!important;
	& * { /* fixes userbox showing */
			display: none;
		};
  	&::after {
		content: '';
		position:absolute;
		top:0;
		bottom:0;
		left: 0;
		background-color: transparent;
		width: var(--pad);
	};
  }
}

/* fix padding on main chat bit (and associated shit)*/
.chat_a7d72e,
.container_c2739c {
  margin-left: var(--pad);
}

.jumpToPresentBar_cf58b5 {
	right: 16px !important;
	left: 16px !important;
}
